@model IEB.GC.Net.ApiSAP.Models.ElemtosSAP

@{
    ViewBag.Title = "Index";
}

<h2>SAP2000</h2>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12 text-center">

        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Inicio")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("Detalles","Inicio", new { id=int.Parse(TempData.Peek("id").ToString())})">Detalle subestación</a>
            </li>
            <li>
                <a href="@Url.Action("ingresarcaso", "Inicio", new { id = int.Parse(TempData.Peek("id_caso").ToString()) })"> Detalle caso </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Materials", new { id=int.Parse(TempData.Peek("id").ToString())})">Material</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Perfiles", new {id=int.Parse(TempData.Peek("id").ToString())})">Perfiles</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Cargas_Automatica", new { id_subestacion=int.Parse(TempData.Peek("id").ToString())})">Cargas Automaticas</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Elemento", new { sid=int.Parse(TempData.Peek("id_caso").ToString())})">Elementos</a>
            </li>
            <li>
                <a href="@Url.Action("Index","CARGAS_DE_CONEXIÓN", new { id=int.Parse(TempData.Peek("id_caso").ToString())})">Cargas de conexion</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Ensamble_subestacion", new { id=int.Parse(TempData.Peek("id_caso").ToString())})">Ensamble</a>
            </li>
            <li>
                <strong class="active">SAP2000</strong>
            </li>


        </ol>
        <p></p>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <div class="row">
            <a href="@Url.Action("abrirsap","CargaSap", new { id_caso = int.Parse(TempData.Peek("id_caso").ToString()), id = int.Parse(TempData.Peek("id").ToString()) })" class="form-control btn btn-info" style="width:50%">Cargar Modelo en SAP2000</a>
        </div>
        <br />
        @using (Html.BeginForm("reaccionesservicio", "CargaSap", FormMethod.Post))
        {
            
                if (Model.estadocorrerproyecto == true)
                {
                    <div class="row text-center">
                        <a href="@Url.Action("correrproyecto","CargaSap")" class="form-control btn btn-info" style="width:50%">Correr Proyecto</a>
                    </div>
                }
                else
                {
                    <div class="row text-center">
                        <a href="#" class="form-control btn btn-info disabled" style="width:50%">Correr Proyecto</a>
                    </div>

                }
                <br />
            if (Model.estadocorrerdiseño == true)
            {
                <div class="row">
                    <a href="@Url.Action("correrdiseño","CargaSap")" class="form-control btn btn-info" style="width:50%">Correr Diseño</a>
                </div>
            }
            else
            {
                <div class="row">
                    <a href="#" class="form-control btn btn-info disabled" style="width:50%">Correr Diseño</a>
                </div>
            }
            <br />
            if (Model.estadoreaccionesservicio == true)
            {
                    <div class="row text-center">
                        <button onclick="myApp.showPleaseWait()" type="submit" id="btnReacciones" class="form-control btn btn-info" style="width:50%">Reacciones</button>
                    </div>

                }
                else
                {
                    <div class="row text-center">
                        <a href="#" class="form-control btn btn-info disabled" style="width:50%">Reacciones</a>
                    </div>
                }
                <br />
            if (Model.estadosalir == true)
            {               

                    <div class="row">
                        <a href="@Url.Action("salirsap","CargaSap", new {id=int.Parse(TempData.Peek("id_caso").ToString())})" class="form-control btn btn-info" style="width:50%">Cerrar SAP2000</a>
                    </div>
                    <br />

               
            }
            else
            {               

                    <div class="row">
                        <a href="#" class="form-control btn btn-info disabled" style="width:50%">Cerrar SAP2000</a>
                    </div>
                    <br />
            }

        }
        
    </div>


    <div class="col-md-6 text-center">
        <img src="~/img/Logo.jpg" style="width:100%" />

        @{
            
            @*if (Model.estadoresultadosdiseño == true)
            {
                <div class="row">
                    <a href="@Url.Action("resultadosdiseño","CargaSap")" class="form-control btn btn-info" style="width:50%">Resultados de diseño</a>
                </div>
            }
            else
            {
                <div class="row">
                    <a href="#" class="form-control btn btn-info disabled" style="width:50%">Resultados de diseño</a>
                </div>
            }
            <br />*@
        }

        
    </div>
    
</div>
<br /> 
<br /> 


<div class="row">
    <div class="col-md-12 text-center">
        <div class="row">
            <a href="@Url.Action("ingresarcaso","Inicio", new {id=int.Parse(TempData.Peek("id_caso").ToString())})" class="form-control btn btn-info" style="width:25%">Regresar</a>
        </div>
        <br /> 
    </div>
</div>

 
<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Procesando Datos...</h1>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  

<script type="text/javascript">
         var myApp;
         myApp = myApp || (function () {
             var pleaseWaitDiv = $('<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1>Procesando Datos...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"><span class="sr-only">60% Complete</span></div></div></div></div></div></div>');
             return {
                 showPleaseWait: function () {
                     pleaseWaitDiv.modal();
                 },
                 hidePleaseWait: function () {
                     pleaseWaitDiv.modal('hide');
                 },

             };
         })();
</script>
}


